AGENTS.md

# IDE/Editor files
.idea
.ensime
.ensime_cache/
scorex.yaml
.bsp

# scala build folders
target

# dotfiles
.editorconfig

# logs
scorex-errors.log
*.log

# local-only JS-related files and folders
node_modules/
/package-lock.json

# Metals
.metals/
**/metals.sbt

# Bloop
**/.bloop
